framework/node_modules

framework/.docusaurus
framework/.cache-loader
framework/build


framework/.DS_Store
framework/.env.local
framework/.env.development.local
framework/.env.test.local
framework/.env.production.local

framework/npm-debug.log*
framework/yarn-debug.log*
framework/yarn-error.log*
