body{
    background-color: #181818;
    color: white;
}

.leftSide {
    text-align: center;
    padding-top: 20px;
}

.leftSideWord {
    font-size: 1.5vw;
    text-align: left;
}

.rightBox{
    padding-top: 20px;
    color: black;
}
  