/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

html[data-theme='dark'] .specialText {
  color: white;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSvg{
  width: 85%;
  height: 85%;
}

.customShape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customShape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 112px;
}

.customShape16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShape16 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 20px;
}

.customShape16 .shapeFill {
  fill: #FFFFFF;
}

html[data-theme='dark'] .customShape16 .shapeFill {
  fill: rgb(24,25,26);
}

.customShape .shapeFill {
  fill: #FFFFFF;
}

html[data-theme='dark'] .customShape .shapeFill {
  fill: rgb(24,25,26);
}